@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {box-sizing: border-box;
margin: 0;
}
body {
    background: #F7F8FC;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    height: 15vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    color: #000000;

}
.to {
    font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 38px;
color: #000000;

}
.nav-ul1 li:nth-child(1) a{
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #52CF3D;

}


.span1 {
    color: #52CF3D;
}

.nav-ul li {
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
    color: #000000;
}


.nav-ul{
   text-decoration: none;
    display: flex;
    align-items: center; 
    gap: 7rem;
    
}

.nav-ul1{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #000000;


}

.nav-ul2 {
     text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #000000;

}
.reg{
    border: 1px solid #52CF3D;
border-radius: 4px;
padding: 16px 32px;

}

.section1 {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.never {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.explore {
    font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 72px;
color: #52CF3D;

}
.never h1 {
    font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 72px;
color: #000000;
position: relative;
}
.frame {
    position: absolute;
    top: 0;
}
.lorem{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;

}
.sec1-div {
    width: 100%;
}

.section1-ul li {
    list-style: none;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0; */

    
    
}
.section1-ul {
    /* margin: 0; */
    padding: .5rem;
    display: flex;
    background-color: red;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    /* column-gap: 3rem; */
    background: #FFFFFF;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
border-radius: 4px;


}
.location {
    display: flex;
    align-items: center;
}
.date {
    display: flex;
    align-items: center;
}
.average {
    display: flex;
    align-items: center;
}
.explore-now {
    background: #52CF3D;
border-radius: 4px;
padding: 16px 32px;
}
.sec-1img {
    width: 35rem;
}
.third-sec {
height: 40vh;
width: 90%;
margin: 0 auto;

}
.ctn {
        display: flex;


}
.first-ctn {
    display: flex;
    flex-direction: column;

}