@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lora:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #f7f8fc;
  font-family: "Times New Roman", Times, serif;
}

nav {
  height: 15vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  color: #000000;
}
.to {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.nav-ul1 li:nth-child(1) a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #52cf3d;
}

.span1 {
  color: #52cf3d;
}

.nav-ul li {
  list-style: none;
}
.nav-ul a {
  text-decoration: none;
  color: #000000;
}

.nav-ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.nav-ul1 {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}

.nav-ul2 {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}
.reg {
  border: 1px solid #52cf3d;
  border-radius: 4px;
  padding: 16px 32px;
}

.section1 {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.never {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: aqua;
  /* max-width: 700px; */
}
.explore {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  color: #52cf3d;
}
.never h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  color: #000000;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.framee {
  display: flex;
  align-items: start;
  background-color: #cd0118;
}
.lorem {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.sec1-div {
  width: 100%;
}

.section1-ul li {
  list-style: none;
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0; */
}
.section1-ul {
  /* margin: 0; */
  padding: 0.5rem;
  display: flex;
  background-color: red;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  /* column-gap: 3rem; */
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.location {
  display: flex;
  align-items: center;
}
.date {
  display: flex;
  align-items: center;
}
.average {
  display: flex;
  align-items: center;
}
.explore-now {
  background: #52cf3d;
  border-radius: 4px;
  padding: 16px 32px;
}
.sec-1img {
  width: 35rem;
}
.third-sec {
  height: 40vh;
  width: 90%;
  margin: 0 auto;
  /* display: flex;
 align-items: center; */
}
.overall-ctn {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}
.ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  /* background-color: red; */
  /* width: 100%; */
}
.ctn p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.ctn h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}
.first-ctn {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  row-gap: 0.25rem;
  /* flex-wrap: nowrap; */
  align-items: flex-start;
  padding: 0;
  width: 420px;
}
.first-ctn p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #cd0118 !important;
}
.first-ctn h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000 !important;
}
.sec-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: center;
}
.third-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: center;
}
.fourth-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: center;
}
.ctn img {
  width: 50px;
}
.pop-img {
  /* height: 20vh; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
   padding-top: 7rem;
   background-color: #cd0118;


}
.srcc {
  background-color: yellow;
}
.popular {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.popular p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #e30c28;
}
.popular h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.fourth-sec {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
  overflow: hidden;
  background-color: purple;

}
.overall-frame {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  background-color: #52cf3d;
}
.frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: .25rem;
}
.frame img :nth-child(1) {
width: 20rem;
}
.frame h3 {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #000000;
}
.frame p {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;

}
.p-img-ctn {
  display: flex;
  align-items: center;

}
.p-img {
display: flex;
align-items: center;
}

.fifth-sec {
  min-height: 70vh;
  width: 90%;
  margin: 0 auto;
  background-color: yellow;
  padding-top: 5rem;
}
.about-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us {
  display: flex;
  flex-direction: column;
    row-gap: 1rem;

}
.about-us h4 {
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #E30C28;


}

.about-us h3 {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 48px;
color: #000000;

}
.about-us-p {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #000000;

}
.all-num {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.num {
  display: flex;
  flex-direction: column;
}

.group4 {
  width: 90%;
  padding-top: 5rem;
  margin: 0 auto;
}

.group4 h2 {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* or 120% */
color: #000000;


}